@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    * { -ms-overflow-style: none; scrollbar-width: none; } *::-webkit-scrollbar { display: none; }
  }
}

/* Report PDF styling */
.hidden-on-screen {
  display: none;
}

@media print {
  .hidden-on-screen {
    display: block;
  }
}